@charset "UTF-8";


/* 真ん中にそろえる */
.wrapper {
  margin: 0 auto 0 auto;	/* 中央揃え */
  width: 900px;			/* 幅を固定 */

}

/* 真ん中にそろえる */
h2 {
	margin: 50px 0 40px 0;
	line-height: 0;
	text-align: center;
}

/* メニューなどのページタイトル */
h1 {
  background: #CECAC7;
  box-shadow: 0px 0px 0px 5px #BABBBF;
  border: dashed 1px #BABBBF;
  padding: 0.2em 0.5em;
  color: #7D3100;
}



/* 右下にコピーライト */
.footer {
    position: fixed;
    bottom: 16px;
    right: 16px;
}



/* メニューに戻るの色 */
a:link {
  color: #BF00FF;
  text-decoration: none;
}
a:visited {
  color: #BF00FF;
  text-decoration: none;
}
a:hover {
  color: hotpink;
  text-decoration: none;
}
a:active {
  color:skyblue;
  text-decoration: none;
}

/* プロフィールキャラ真ん中 */
.hara {
 text-align:center;
 }

/* 2つのテーブル真ん中 */
 .bigtable {
    width: 900px;/*ポイント03*/
    margin-left: auto;/*ポイント01*/
    margin-right: auto;/*ポイント01*/
 }

/* 左テーブル大きさ */
 .table1{
      width: 500px;/*ポイント03*/

    margin-left: auto;/*ポイント01*/
    margin-right: auto;/*ポイント01*/
 }

/* 右テーブル大きさ */
 .table2 {
     width: 400px;/*ポイント03*/
    margin-left: auto;/*ポイント01*/
    margin-right: auto;/*ポイント01*/
 }

/* 右テーブル字左揃え */
th {
 text-align:left;
}

/* カロリー枠の大きさ */
input[name=cal] {
  width: 5em;
}

.decision{
 text-align:left;
}