@charset "UTF-8";


div.menus{
	position: absolute;
	left: 600px;
    top: 700px;
}

.menu{
    border-radius: 50%;
    width:  80px;
    height: 80px;
    padding: 2px;
    border: 1px solid white;
}
