@charset "UTF-8";


/*今日のおすすめ食材
.recommend{
    position:relative;
    width:600px;
    height:110px;
    background:#D9DCD5;
    padding:10px;
    text-align:left;
    color:#312725;
    font-size:20px;
    font-weight:bold;
    border-radius:27px;
    -webkit-border-radius:27px;
    -moz-border-radius:27px;
}
.recommend:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(234, 255, 89, 0);
    border-top-width:67px;
    border-bottom-width:67px;
    border-left-width:19px;
    border-right-width:19px;
    margin-left: -19px;
    border-top-color:#D9DCD5;
    top:100%;
    left:83%;
}
*/


/*メインメニューのペコ画像*/
#peko{
margin-left:20em;
margin-top:5em;
}

/*今日のおすすめ食材*/
.recommend{
    position:relative;
    width:600px;
    height:110px;
    background:#D9DCD5;
    padding:10px;
    text-align:left;
    color:#312725;
    font-size:20px;
    font-weight:bold;
    border-radius:27px;
    -webkit-border-radius:27px;
    -moz-border-radius:27px;
}
.recommend:after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(234, 255, 89, 0);
    border-top-width:67px;
    border-bottom-width:67px;
    border-left-width:19px;
    border-right-width:19px;
    margin-left: -19px;
    border-top-color:#D9DCD5;
    top:100%;
    left:83%;
}

/*メインメニューのペコ画像*/
#peko{
margin-left:20em;
margin-top:5em;
}


/*リザルト　テーブルの幅・高さ*/
table {
    border-collapse:  collapse; /* セルの線を重ねる */
}
th {
    width:  115px;              /* 幅指定 */
    height: 40px;               /* 高さ指定 */
    text-align: center;
}

/*リザルト　テーブルの線と色*/

table {
    border-collapse: collapse;
}

table,th{
    border-bottom: 1px solid black;
    padding: 10px;
}
.td2 {
	border-bottom: 1px solid black;
    padding: 10px;
    }

th{ background-color: #f5f5f5; }

